@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(90deg, rgb(84, 47, 140), rgb(132, 72, 187));
  }

  .primary-color {
    color: #4d179a;
  }
}