@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(90deg, rgba(84, 47, 140, 0.3), rgba(131, 72, 187, 0.3));
  }

  .primary-color {
    color: #4d179a;
  }
}

@layer utilities {
  .bg-primary-color {
    background-color: #4d179a;
    /* Use your primary color directly */
  }
}

.no-focus-border:focus {
  outline: none;
}